.search__container {
  margin: 10px;
}

.search__input {
  width: 100%;
  border: 0;
  border: 1px solid #3498db;
  outline: none;
  text-align: center;
  font-size: 26px;
  background-color: transparent;
  color: #2c3e50;
}
